html:has(a[href^="#"]){
scroll-behavior: smooth;
}

body{
display: flex;
padding: 0;
margin: 0;
flex-direction: column;
}

header{
color: white;
font-family: Roboto;
font-weight: bold;
padding-top: 10px;
padding-bottom: 10px;
display: flex;
position: fixed;
flex-direction: row;
align-items: center;
background: #007765;
width: 100%;
justify-content: space-between;
}


.hd_left{
display: flex;
padding-left: 1%;
gap: 10%;
}

.logo_hd{
height: 50px;
}

.name_hd{
align-self: center;
font-style: italic;
font-size: 24px;
}

.hd_right{
display: flex;
gap: 20px;
padding-right: 10%;
align-items: center;
}

.hd_section{
color: white;
text-decoration: none;
cursor: pointer;
}

.hd_section:hover{
opacity: 0.8;
}

.hd_section:not(:last-child)::after{
content: "|";
position: relative;
left: 12px;
color: white;
top: 0px;
}

section{
}

.white_bg{
background-color: white;
}


.first_section{
margin-top: 70px;
}

.section1_img{
display: flex;
background-image: url('ct1_welcome_img.png');
background-size: cover;
justify-content: center;
align-items: center;
min-height: clamp(200px, 30vh, 350px);
}

.section1_img_text{
display: flex;
color: white;
font-size: clamp(24px, 5vw, 48px);
font-family: Roboto;
}

h1{
text-align: center;
font-size: clamp(24px, 4vw, 48px);
color: #007765;
font-family: 'Roboto', sans-serif;
margin-bottom: 10px;
}

.section1_main_text{
display: flex;
flex-flow: row wrap;
justify-content: start;
text-align: justify;
max-width: 1000px;
font-size: 24px;
font-family: 'Roboto', sans-serif;
padding: 0 20px;
margin: 0 auto;
}

.section1_main_text p{
margin-top: 10px;
margin-bottom: 10px;
}


.second_section{
margin-top: clamp(30px, 10vh, 50px);
margin-bottom: clamp(30px, 10vh, 50px);
}

.section2_img{
display: flex;
background-image: url('ct2_welcome_img.png');
background-size: cover;
justify-content: center;
align-items: center;
text-align: center;
flex-wrap: wrap;
min-height: clamp(400px, 40vh, 500px);
}

.section2_img_text{
display: flex;
color: white;
padding: 0 max(20px, calc(50vw - 500px));
font-size: clamp(40px, 3vw, 48px);
font-family: Roboto;
font-style: italic;
}

.logo_and_text{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
max-width: 1000px;
font-size: 24px;
font-family: 'Roboto', sans-serif;
padding: 0 20px;
margin: 0 auto;
margin-top: 20px;
gap: 20px;
}

.logo_section2{
display: flex;
max-height: 75px;
}

.s2_text_logo p{
text-align: justify;
margin-top: 0px;
margin-bottom: 0px;
}

.s2_main_text{
display: flex;
flex-flow: row wrap;
justify-content: start;
text-align: justify;
max-width: 1000px;
font-size: 24px;
font-family: 'Roboto', sans-serif;
padding: 0 20px;
margin: 0 auto;
}

.s2_main_text p{
margin-top: 10px;
margin-bottom: 10px;
}

.paper_bg{
background-color: #eeeeee;
}

.team_list{
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 1000px;
gap: 40px;
margin: 0 auto;
margin-top: 40px;
list-style: none;
padding-bottom: 100px;
}

.team_member{
flex: 0 0 calc(33.333% - 40px);
max-width: max(100px, calc(33.3% - 100px));
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.team_member img{
width: 168px;
}

.team_member h3{
text-align: center;
font-size: clamp(10px, 2vw, 24px);
color: #007765;
font-family: 'Roboto', sans-serif;
margin-top: 5px;
margin-bottom: 0px;
}

.team_member p{
margin-top: 0px;
font-family: 'Roboto', sans-serif;
}

footer{
display: flex;
background-color: #333333;
color: white;
justify-content: center;
flex-wrap: wrap;
align-items: center;
text-align: center;
font-family: 'Roboto', sans-serif;
}

footer p{
padding: 50px 50px;
margin: 0px 25%;
}
